.playerOneBox {
  display: grid;
  grid-template-columns: repeat(6, auto);
  background-image: url("/40k_wallpaper.jpg");
  background-size: cover;
}

.pointBox {
  border: 2px solid black;
  margin: 2px;
  height: 45px;
  text-align: center;
}

.App {
  background-color: aqua;
}
